body{
    background-color: purple;
}
h1 {
    color: gold;
}
.button2{
    background-color: darkorange;
    width : 140px;
    border-radius: 15%;
}
.randomBox{
    width: 500px;
    border: 20px orange;
    padding: 20px;
    margin: 15px;
    background-color: black;
}
.clearReviews{
    background-color: darkorange;
    width : 140px;
    border-radius: 15%;



}
.dropDown-stuff { 

display: none;
background-size: 5%;
font-size: 15px;
min-width: 5px;


}
.dropButton{
    background-color: beige;
    width: 120px;
    height: 50px;
    font-size:20px;
    outline-width:0cqmax;
    color:black;





}
a  {
    color:white; 
    font-size: 25px;
}

.dropButton:hover{
    background-color:gold;

}
.button3:hover .dropDown-stuff{
    display: block;

}
img {
    width: 150px;
}

h1 {

font-family: sans-serif;

}
 .img2 {
    width : 400px

 }
 